.text-field{
    -fx-stroke-width: 0;
    -fx-border-color: #2C66D7FF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-transition: all 0.6s ease 0s;
    -fx-prompt-text-fill: black;
}
.text-field:hover {
    -fx-background-color: linear-gradient(to right, #2C66D7, #2250ab);
    -fx-cursor: hand;
    -fx-transition: all 0.6s ease 0s;
    -fx-prompt-text-fill: white;
}
.text-field:focused {
    -fx-prompt-text-fill: white;
}
.button{
    -fx-background-color:linear-gradient(from 0.0% 49.763% to 100.0% 53.0806%, #2250ab 0.0%, #1f3e7c 49.9366%, #2c66d7 100.0%);
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.3s ease 0s;
}
.button:hover {
    -fx-background-color: linear-gradient(to right, #2C66D7, #4A90E2);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}
